@charset "UTF-8";

/* 
styles.css © Copyright 2020 Justin Muirhead under the BSD 3-Clause License
code snippets taken from: https://w3schools.com/
and: https://github.com/jhay0112/jhay0112.github.io
go visit: https://jordanhay.tk/
 */


/* SPDX-License-Identifier: BSD-3-Clause */

@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu:wght@300&display=swap');
* {
    color: #242424;
    background-color: #f2f2f2;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Questrial', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    /* This is changed after the loading screen disappears */
}


/* Animations */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        display: none;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: 1;
        display: none;
    }
}

@keyframes slideOutBottom {
    from {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
    }
    to {
        position: fixed;
        top: 100vh;
        left: 0;
        opacity: 0;
    }
}


/* Loading */

#loadingScreen {
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#spinner {
    animation: spin 1s infinite linear;
    position: relative;
    top: 50vh;
    left: 50vw;
    height: 50px;
    width: 50px;
    padding: 0;
    margin-top: -25px;
    margin-left: -110px;
    /* Negative margin for centering minus the width of the logo divided by two
    this fixes a weird where the spinner is offset by half the width of the logo */
}

#logo {
    position: relative;
    top: 40vh;
    left: 50vw;
    height: 200px;
    width: 170px;
    padding: 0;
    margin-top: -100px;
    margin-left: -85px;
}


/* Responsive */


/* Mobile */

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 10px;
}

.mobileOnly {
    display: inline-block;
}

.tabletAbove {
    display: none;
}

.desktopOnly {
    display: none;
}

#menuOpen {
    display: block;
}


/* Tablet */

@media only screen and (min-width: 500px) {
    .tabletAbove {
        display: inline-block;
    }
    #menuOpen,
    #menuOpen i {
        display: none;
    }
}


/* Desktop */

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .mobileOnly {
        display: none;
    }
    .desktopOnly {
        display: inline-block;
    }
    #main {
        padding-top: 50px;
    }
    header {
        padding-top: 30px;
    }
    #bigHeader {
        padding-top: 0;
    }
}


/* Menu */

#menu {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    cursor: pointer;
}

#menuContent {
    position: relative;
    top: 25vh;
    width: 100vw;
    text-align: center;
    margin-top: 30px;
    background-color: transparent;
}

#menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
    background-color: transparent;
}

#menu a:hover,
#menu a:focus {
    background-color: #f6e44a;
    color: #242424;
}

#menu #menuClose {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 35px;
}

a#menuClose {
    padding: 0px 10px;
}


/* Navbar */

#navbar {
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    width: 100vw;
    transition: top 0.3s;
}

#nav {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#nav a {
    float: left;
    color: #242424;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: 0.5s;
}

#nav a:hover,
#nav a:focus {
    background-color: #242424;
    color: #f2f2f2;
}

a#menuOpen {
    float: right;
}

a#menuOpen i {
    background-color: inherit;
    color: inherit;
}


/* Main */

main {
    padding: 20px;
}

#main {
    padding-bottom: 30vh;
}


/* Horizontal Line */

hr {
    width: 100%;
}


/* Footer */

footer {
    text-align: center;
}