@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Ubuntu:wght@300&display=swap");
* {
  color: #242424;
  background-color: #f2f2f2;
  font-family: "Ubuntu", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  /* Makes header text look the same between gecko and blink */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Questrial", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  overflow: hidden;
}

body > #wrapper {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  /* This is changed after the loading screen disappears.
  The purpose of this is to make the scroll bar appear only when it's ready*/
  -webkit-overflow-scrolling: touch;
  /* Enable momentum and smooth scrolling for IOS users */
}

/* Main */
main #bottomMain {
  padding-bottom: 30vh;
}

hr {
  margin: 0;
}

/* Animations */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeIn {
  from {
    display: none;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    display: none;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: 1;
    display: none;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: 1;
    display: none;
  }
}
@-webkit-keyframes slideOutBottom {
  from {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
  }
  to {
    position: fixed;
    top: 100vh;
    left: 0;
    opacity: 0;
  }
}
@keyframes slideOutBottom {
  from {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
  }
  to {
    position: fixed;
    top: 100vh;
    left: 0;
    opacity: 0;
  }
}
/* Responsive */
/* Mobile */
[class*=col-] {
  width: 100%;
  float: left;
  padding: 10px;
}

.mobileOnly {
  display: inline-block;
}

.tabletAbove {
  display: none;
}

.desktopOnly {
  display: none;
}

#menuOpen {
  display: block;
}

/* Tablet */
@media only screen and (min-width: 500px) {
  .tabletAbove {
    display: inline-block;
  }

  #menuOpen,
#menuOpen i {
    display: none;
  }
}
/* Desktop */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .mobileOnly {
    display: none;
  }

  .desktopOnly {
    display: inline-block;
  }
}
/* SPDX-License-Identifier: BSD-3-Clause */
/* Loading Screen */
#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
#loadingScreen #logo {
  position: relative;
  top: 40vh;
  left: 50vw;
  max-height: 100%;
  padding: 0;
  margin-top: -100px;
  margin-left: -85px;
}
#loadingScreen #spinner {
  background-color: transparent;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: relative;
  top: 50vh;
  left: 50vw;
  max-height: 100%;
  padding: 0;
  margin-top: -25px;
  margin-left: -110px;
  /* Negative margin for centering, equation: minus the width of the logo divided by two. */
  /* This fixes a problem where the spinner is offset by half the width of the logo. */
}

/* Menu */
#menu {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
#menu #menuClose {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 2.1875em;
  padding: 0px 10px;
}
#menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.25em;
  color: #f2f2f2;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
}
#menu a:hover, #menu a:focus {
  background-color: #f6e44a;
  color: #242424;
}
#menu #menuContent {
  position: relative;
  top: 25vh;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
  background-color: transparent;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#navbar #nav {
  padding: 0;
}
#navbar #nav a {
  float: left;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#navbar #nav a:hover, #navbar #nav a:focus {
  background-color: #f6e44a;
}
#navbar #nav #menuOpen {
  height: 49px;
  width: 49px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  float: right;
}
#navbar #nav #menuOpen:hover, #navbar #nav #menuOpen:focus {
  background-color: #f6e44a;
}
#navbar #nav #navbarTux {
  height: 49px;
  width: 49px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  float: left;
  background: transparent url(../favicon.ico) center no-repeat;
  max-height: 100%;
}

/* Progress Bar */
#progressContainer {
  width: 100vw;
  height: 8px;
  padding: 0;
  background-color: #242424;
}
#progressContainer #progressBar {
  width: 0vw;
  height: 8px;
  background-color: #f6e44a;
}

/* Back to Top Button */
#backToTopButton {
  background-color: #242424;
  color: #f2f2f2;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.3334em;
  position: fixed;
  bottom: 30px;
  right: 30px;
  margin: 0;
  margin-left: -25px;
  padding: 0;
  z-index: 3;
  -webkit-animation: fadeOut 0.5s forwards;
  animation: fadeOut 0.5s forwards;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#backToTopButton:hover {
  background-color: #f6e44a;
  color: #242424;
}

/* Big Header */
.bigHeader {
  height: 90vh;
  margin-top: 58px;
}

.noJs #title {
  background: transparent url(../img/100px-Tux-opaque.svg.png) center space;
}

.no-webp #title {
  background: transparent url(../img/100px-Tux-opaque.svg.png) center space;
}

.webp #title {
  background: transparent url(../img/100px-Tux-opaque.svg.webp) center space;
}

/* Unix Header */
#unix {
  width: 100%;
  height: 100vh;
}

.noJs #unix {
  background: transparent url(../img/PDP7.png) center/cover no-repeat;
}

.no-webp #unix {
  background: transparent url(../img/PDP7.png) center/cover no-repeat;
}

.webp #unix {
  background: transparent url(../img/PDP7.webp) center/cover no-repeat;
}

/* Header */
header h1,
header h2,
header p {
  padding: 15px;
  border: 2px solid #242424;
  font-size: 3.3125em;
  margin: 0;
  text-align: center;
}

.caption {
  text-align: center;
}

.wordContainer {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
}

/* Footer */
footer {
  text-align: center;
}

/* 404 */
div.no {
  text-align: center;
  padding-bottom: 30px;
}
div.no a.no {
  font: 33.33vw "Questrial", sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
div.no a.no:hover, div.no a.no:focus {
  background-color: #f6e44a;
}

/*# sourceMappingURL=styles.css.map */
